<h2 id="title">Welcome to Ember</h2>

{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
  {{outlet}}
{{else}}
  <button {{action "signIn" "facebook"}}>
    <img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xaf1/t39.2178-6/851579_209602122530903_1060396115_n.png">
  </button>
{{/if}}


{{outlet}}
